<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RESTful_API</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css"
      integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./src/assets/styles/style.css" />
  </head>
  <body>
    <div id="app">
      <div class="loading d-none" ref="loadingDom">
        <div class="loading-window d-flex justify-content-center">
          <p>請稍後...</p>
          <div class="spinner-grow text-secondary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="text-end mt-4">
          <button
            class="btn btn-primary"
            type="button"
            @click="openModal('新增產品')"
          >
            建立新的產品
          </button>
        </div>
        <table class="table mt-4">
          <thead>
            <tr>
              <th width="120">分類</th>
              <th>產品名稱</th>
              <th width="120">原價</th>
              <th width="120">售價</th>
              <th width="100">是否啟用</th>
              <th width="120">編輯</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="product in productList" :key="product.id">
              <td>{{ product.category }}</td>
              <td>{{ product.title }}</td>
              <td class="text-end">{{ product.origin_price }}</td>
              <td class="text-end">{{ product.price }}</td>
              <td>
                <span class="text-success" v-if="product.is_enabled === 1"
                  >啟用</span
                >
                <span v-else class="text-danger">未啟用</span>
              </td>
              <td>
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-outline-primary btn-sm"
                    @click="openModal('編輯產品', product)"
                  >
                    編輯
                  </button>
                  <button
                    type="button"
                    class="btn btn-outline-danger btn-sm"
                    @click="deleteCheck(product)"
                  >
                    刪除
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- pagination -->
      <pagination-product
        :pagination="pagination"
        @page-update="pageUpdate"
      ></pagination-product>
      <!-- productModal -->
      <product-modal
        :product="tempProduct"
        :modal-title="productModalTitle"
        @update="getProduct"
      ></product-modal>

      <!-- delModal -->
      <del-Modal :product="tempProduct" @update="getProduct"></del-Modal>
    </div>
    <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js"
      integrity="sha512-WW8/jxkELe2CAiE4LvQfwm1rajOS8PHasCCx+knHG0gBHt8EXxS6T6tJRTGuDQVnluuAvMxWF4j8SNFDKceLFg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="main.js"></script>
    <script type="text/x-template" id="paginationProduct">
      <section class="d-flex justify-content-center ">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li class="page-item" :class="{'disabled': !pagination.has_pre}"><a class="page-link" href="#" @click="pageNow">Previous</a></li>
            <li class="page-item" :class="{'active': pagination.current_page === page}" v-for="page in pagination.total_pages" :key="page"><a class="page-link" href="#" @click="pageNow(page)">{{page}}</a></li>
            <li class="page-item" :class="{'disabled': !pagination.has_next}"><a class="page-link" href="#" @click="pageNow">Next</a></li>
          </ul>
        </nav>
      </section>
    </script>

    <script type="text/x-template" id="productModal">
      <div
        id="productModal"
        ref="productModalDom"
        class="modal fade"
        tabindex="-1"
        aria-labelledby="productModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-xl">
          <div class="modal-content border-0">
            <div class="modal-header bg-dark text-white">
              <h5 id="productModalLabel" class="modal-title">
                <span>{{ modalTitle }}</span>
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-4">
                  <div class="mb-2">
                    <div class="mb-3">
                      <label for="imageUrl" class="form-label">主要圖片</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="請輸入圖片連結"
                        v-model="product.imageUrl"
                      />
                    </div>
                    <img
                      class="img-fluid"
                      :src="product.imageUrl"
                      @error="handleErrorImageUrl"
                    />
                  </div>
                  <h3>新增多圖</h3>

                  <div
                    class="mb-2"
                    v-for="(image, key) in product.imagesUrl"
                    :key="key"
                  >
                    <div class="mb-3">
                      <label :for="'image' + (key + 1)" class="form-label"
                        >圖片網址{{key + 1}}</label
                      >
                      <input
                        type="text"
                        :id="'image' + (key + 1)"
                        class="form-control"
                        placeholder="請輸入圖片連結"
                        v-model="product.imagesUrl[key]"
                      />
                    </div>
                    <img
                      class="img-fluid"
                      :src="product.imagesUrl[key]"
                      alt=""
                    />
                  </div>
                  <div
                    v-if="product.imagesUrl[product.imagesUrl.length - 1] !== ''"
                  >
                    <button
                      class="btn btn-outline-primary btn-sm d-block w-100"
                      @click="product.imagesUrl.push('')"
                    >
                      新增圖片
                    </button>
                  </div>
                  <div class="mb-2">
                    <!-- <div v-else> -->
                    <button
                      class="btn btn-outline-danger btn-sm d-block w-100"
                      @click="product.imagesUrl.pop()"
                    >
                      刪除圖片
                    </button>
                  </div>
                  <div>
                    <div class="mb-3">
                      <label for="imagefile" class="form-label">圖片上傳</label>
                      <input
                        type="file"
                        class="form-control"
                        id="imgaefile"
                        placeholder="請上傳圖片"
                        @change="imageUpload"
                      />
                    </div>
                  </div>
                </div>



                <div class="col-sm-8">
                  <div class="mb-3">
                    <label for="title" class="form-label">標題</label>
                    <input
                      id="title"
                      type="text"
                      class="form-control"
                      placeholder="請輸入標題"
                      v-model.trim="product.title"
                    />
                  </div>

                  <div class="row">
                    <div class="mb-3 col-md-6">
                      <label for="category" class="form-label">分類</label>
                      <input
                        id="category"
                        type="text"
                        class="form-control"
                        placeholder="請輸入分類"
                        v-model.trim="product.category"
                      />
                    </div>
                    <div class="mb-3 col-md-6">
                      <label for="price" class="form-label">單位</label>
                      <input
                        id="unit"
                        type="text"
                        class="form-control"
                        placeholder="請輸入單位"
                        v-model.trim="product.unit"
                      />
                    </div>
                  </div>

                  <div class="row">
                    <div class="mb-3 col-md-6">
                      <label for="origin_price" class="form-label">原價</label>
                      <input
                        id="origin_price"
                        type="number"
                        min="0"
                        class="form-control"
                        placeholder="請輸入原價"
                        v-model.number="product.origin_price"
                      />
                    </div>
                    <div class="mb-3 col-md-6">
                      <label for="price" class="form-label">售價</label>
                      <input
                        id="price"
                        type="number"
                        min="0"
                        class="form-control"
                        placeholder="請輸入售價"
                        v-model.number="product.price"
                      />
                    </div>
                  </div>

                  <div class="row">
                    <div class="mb-3 col-md-6">
                      <label for="origin_price" class="form-label">進貨量</label>
                      <input
                        id="origin_price"
                        type="number"
                        min="0"
                        class="form-control"
                        placeholder="請輸入數量"
                        v-model.number="product.num"
                      />
                    </div>
                    <div class="mb-3 col-md-6">
                      <label for="price" class="form-label">評價</label>
                      <input
                        id="price"
                        type="number"
                        min="1"
                        max="5"
                        class="form-control"
                        placeholder="請輸入評價"
                        v-model.number="product.rating"
                      />
                    </div>
                  </div>
                  <hr />

                  <div class="mb-3">
                    <label for="description" class="form-label">產品描述</label>
                    <textarea
                      id="description"
                      type="text"
                      class="form-control"
                      placeholder="請輸入產品描述"
                      v-model.trim="product.description"
                    >
                    </textarea>
                  </div>
                  <div class="mb-3">
                    <label for="content" class="form-label">說明內容</label>
                    <textarea
                      id="description"
                      type="text"
                      class="form-control"
                      placeholder="請輸入說明內容"
                      v-model.trim="product.content"
                    >
                    </textarea>
                  </div>
                  <div class="mb-3">
                    <div class="form-check">
                      <input
                        id="is_enabled"
                        class="form-check-input"
                        type="checkbox"
                        v-model="product.is_enabled"
                        :true-value="1"
                        :false-value="0"
                      />
                      <label class="form-check-label" for="is_enabled"
                        >是否啟用</label
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-outline-secondary"
                data-bs-dismiss="modal"
              >
                取消
              </button>
              <button
                type="button"
                class="btn btn-primary"
                @click="updateProduct"
              >
                確認
              </button>
            </div>
          </div>
        </div>
      </div>
    </script>

    <script type="text/x-template" id="delModal">
      <div
        id="delProductModal"
        ref="delModalDom"
        class="modal fade"
        tabindex="-1"
        aria-labelledby="delProductModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content border-0">
            <div class="modal-header bg-danger text-white">
              <h5 id="delProductModalLabel" class="modal-title">
                <span>刪除產品</span>
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              是否刪除
              <strong class="text-danger"></strong> 商品(刪除後將無法恢復)。
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-outline-secondary"
                data-bs-dismiss="modal"
              >
                取消
              </button>
              <button
                type="button"
                class="btn btn-danger"
                @click="deleteProduct"
              >
                確認刪除
              </button>
            </div>
          </div>
        </div>
      </div>
    </script>
  </body>
</html>
